@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

body{
background-color: #0D0D0D;
}

.header{
box-sizing: border-box;

width: 100%;
height: 94px;

background: #0D0D0D;
border: 1px solid #363434;
border-radius: 8px 8px 10px 10px;
display: flex;
flex-direction: row;
align-items: center;
}

.logo {
width: 4vw;
height: auto;
background: url(image.png);
}

.name{
width: 3vw;
height: auto;

font-family: 'MuseoModerno';
font-style: normal;
font-weight: 400;
font-size: 1.5vw;
line-height: 57px;

color: #FFFFFF;
}

.usser {
margin-left: auto; 
display: flex;
justify-content: center;
align-items: center;
padding: 0 12vh;
background: radial-gradient(50.79% 520.79% at 50% 50%, #D9D9D9 5.17%, #0d0d0d54 80.75%);
border-radius: 5px;
height: 54px;
width: auto;
}

.name-text{
width: 72px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #675C5C;
}

.basket {
width: 50px;
height: 50px;
margin-left: 15px; 
position: static; 
float: none;

}

.theme{
    margin-left: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
width: 74px;
height: 25px;
background: #4599BD;
border-radius: 70px;
}